#control {
  position: fixed;
  top: 15px;
  left: 30px;
}

#control ul {
  display: inline-block;
  margin: 5px 10px;
  list-style: none;
}



#control ul li {

  background-color: hsla(210, 50%, 35%, 0.9);
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  display: inline-block;
  text-align: center;

  margin: 4px 0;
  margin-right: -1px;
  padding: 3px 8px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

#control ul li:first-child {

  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;

  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;

}

#control ul li.head {
  width: 100px;
/*  background-color: hsla(210, 50%, 45%,0.8);  */
}


#control ul li:last-child, #control ul li:last-child {

  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;

  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;

}

#control ul li:hover, #control ul li:hover {
  background-color: hsla(210, 50%, 45%,0.8);  
}

#control ul li.active {
  background-color: hsla(60, 50%, 40%, 0.8);
  color: hsl(60, 20%, 20%);
}

#control ul li.active:hover {
  background-color: hsla(60,50%,50%,0.8);
  color: hsl(60,20%,20%);
}







